.section3{
    background-image: url('../../assets/watch3.png');
    background-size: cover;
    background-repeat: no-repeat;

    h1{
        font-weight: 700;
        font-family:"Lato", sans-serif ;
    }
    p{
        font-family: "Lato", sans-serif;
        font-weight: 500;
        width: 593px;
        
        line-height: 143%; /* 22.88px */
letter-spacing: 0.56px;
    }
}