.timbu{
   font-family: "Milonga", serif; 
   font-weight: 400;
}
.cloud{
    font-family: "Merienda One", cursive; 
    font-weight: 400;
}
.secondFooter{
    font-family: "Lato", sans-serif;
    h3{
        
        font-weight: 700;
    }
    div{
        color:rgba(175, 173, 163, 0.90);
    }

}
.thirdfooter{
    font-family: "Lato", sans-serif;
    h4{
    
    font-weight: 700;
    }
    p{
        color:rgba(175, 173, 163, 0.90)
    }
}